@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://db.onlinewebfonts.com/c/51296ff9eb1e16185eb6a1000de5d345?family=Gotham");

header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

body {
    background-color: rgb(150, 0, 255);
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

li {
    text-align: center;
    font-family: sans-serif;
    list-style: square;
    margin-left: 500px;
}

nav a {
    float: initial;
    font-family: 'Gotham';
    font-size: 19px;
    color: rgb(186, 0, 186);
}

.eu {
    justify-content: center;
    left: 0;
}

.contatos {
    word-spacing: 10px;
    float: initial;
    font-family: 'Gotham';
    font-size: 25px;
    text-align: center;
    padding: 15px;
    margin: auto;
}

a:link {
    text-decoration: none;
}

h1 {
    margin: auto;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 500% ;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 5px;
    justify-content: center;
    font-family: 'Gotham';
    color: whitesmoke;
}

.desc {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 105%;
    right: 30%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Gotham';
    color: white;
}

.projects {
    justify-content: center;
    left: 0;
    right: 100;
}

    /*width: 100vw;
    height: 100vh;
    background: url('../images/fundo.jpg');
    background-size: cover;*/ 

ul.goto {
    align-items: center;
}

ul.redir {
    align-items: center;
}

ul.logo {
    align-items: center;
}

ul.links {
    align-items: center;
}

.rodape {
    padding: 20px;
    text-align: center;
    font-family: 'Gotham';
    color: rgb(150, 0, 255);
    background-color: white;
}